body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
    background-color: black;
    padding-bottom: 30em;
}

#navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    padding: 1em 2em;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#navbar img {
    height: 1.8em;
    margin-right: 2em;
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar .left {
    display: flex;
    align-items: center;
}

#navbar .left a {
    margin: 0 0.7em;
}

/* ============ HEADER DESIGN ==============*/

.header {
    height: 90vh;
    width: 100vw;

    background-image: url('https://occ-0-3004-56.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZnMbovvTIs_AdSi4cEqSxA8cWbX_tSHMKxCQtA50YFBJTjJEYB9awY5Z8p8firlwdhXdwknczynk0hafk3Umk6w7a0u.webp?r=486');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 4em;
}

.header img {
    width: 50em;
}

.header p {
    max-width: 30em;
    font-size: 1.5em;
    margin-top: 0;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.buttons-container button {
    margin: 0 1em 0 0 ;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(189, 187, 187);
}

button svg {
    height: 1.3em;
    width: 1.3em;
    margin-right: 0.5em;
}

.btn-dark {
    background-color: rgba(141, 141, 141, 0.698);
    color: white;
}

.btn-dark:hover {
    background-color: rgba(100, 100, 100, 0.698);
}

.btn-dark svg {
    fill: white;
}

/* =============== MOVIES CATEGORY DESIGN ================ */
.movies-category {
    color: white;
    padding-left: 4em;
}

.movies-displayer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.5em;
}


.movie {
    position: relative;
    border-radius: 0.2em;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
}

.movie img {
    height: 100%;
}

.movie .infos {
    background-color: rgb(24, 24, 24);
    color: white;
    display: none;
}

.movie .mini-logo {
    height: 2em;
    position: absolute;
    top: 0.3em;
    left: 0.3em;
}

.movie .top {
    position: absolute;
    background-color: red;
    color: white;
    top: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    padding: 0.2em;
}